body {
        margin: 0;
}
.big-jimmy-pic {
        max-width: 40%;
        max-height: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
        padding-bottom: 5%;
}
.top-container {
        position: relative;
        background-color: #c5d7bd;
}
.bike-pic {
        position: absolute;
        max-width: 20%;
        max-height: 20%;
        left: 10%;
        bottom: 8%;
}
.board-pic {
        position: absolute;
        max-width: 20%;
        max-height: 20%;
        right: 5%;
        bottom: 12%;
}
.procore-pic {
        position: absolute;
        max-width: 20%;
        max-height: 20%;
        left: 12%;
        bottom: 53%;
}
.dog-pic {
        position: absolute;
        max-width: 30%;
        max-height: 30%;
        right: 10%;
        bottom: 43%;
}
.texas-pic {
        position: absolute;
        max-width: 20%;
        max-height: 20%;
        left: 3%;
        bottom: 28%;
}
.lh-text {
        font-family: 'Permanent Marker', Shippori;
        color: #383e56;
        margin: auto;
        font-size: 3rem;
        padding-top: 2.5%;
        padding-left: 25%;
        padding-bottom: 2.5%;

}
.middle-container {
        background-color: #9fb8ad;

}
.willow-1 {
        max-width: 33%;
        max-height: 33%;
        padding-bottom: 20%;
}
.willow-2 {
        max-width: 33%;
        max-height: 33%;
        padding-top: 10%;
        padding-bottom: 10%;
}
.willow-3 {
        max-width: 33%;
        max-height: 33%;
        padding-bottom: 20%;
}
.bottom-container {
        padding: 0;
        background-color: #383e56;
}
.bar {
        max-width: 33%;
        max-height: 33%;
        padding-bottom: 0%;
}
.message {
        font-family: 'Shippori Mincho', serif;
        margin: auto;
        font-size: 3rem;
        color: #c5d7bd;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
}
.from {
        margin: auto;
        font-family: 'Shippori Mincho', serif;
        font-size: 3rem;
        color: #c5d7bd;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
}
.grad-pic {
        max-width: 33%;
        max-height: 33%;
        left: 10%;
        padding-bottom: 30%;
}
.funny-pic {
        max-width: 33%;
        max-height: 33%;
        padding-bottom: 20%;
}

.contact-container {
        background-color: #fb743e;
}
.copyright {
  color: black;
  padding-left: 44%;
}